<div class="users">
  <div class="control-panel">
    <form>
      <label class="select">Select column to filter:
        <select name="filterProperty" id="filterProperty" [(ngModel)]="filterProperty">
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input type="text" placeholder="filter keywords go here..." name="FilterValue" id="FilterValue" [(ngModel)]="FilterValue" />
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
		<!-- Filtering User Data Using Pipes -->
        <tr *ngFor="let _userList of userList | userFilter : filterProperty : FilterValue">
          <td>{{_userList.name}}</td>
          <td>{{_userList.username}}</td>
          <td>{{_userList.email}}</td>
          <td>{{_userList.phone}}</td>
          <td>{{_userList.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>